@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

/* @layer base {
  .p {
    @apply text-base;
  }
} */

.banner {
  clip-path: circle(63.6% at 100% 38%);
  width: 100vw;
  height: 95vh;
  object-fit: cover;
}

.j1 {
  background-color: #449eee;
  width: 100vw;
  height: 95vh;
  clip-path: circle(69.6% at 100% 32%);
}

.j2 {
  background: linear-gradient(135deg, #449eee 0%, #8fc5f5 100%);
  width: 100vw;
  height: 95vh;
  position: absolute;
}
